@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.body {
  background-color: #CAD6EC;
  height: 1900px
}





.faq-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;  
}


.faq-title {
  color: #020402;
  text-align: center;
  margin-bottom: 30px;
  font-size: 100px;
  font-weight: 700;
}

.faq-item {
  background-color: #EDDEE1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 800px;
  width: 90%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.faq-item:hover {
  background-color: #CAD6EC;
  transform: scale(1.02);
}

.faq-item .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.faq-item .faq-question h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.faq-item .arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #333;
  transition: transform 0.3s ease;
}

.faq-item .arrow.up {
  transform: rotate(180deg);
}

.faq-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, padding 0.3s ease;
  padding: 0 20px;
}

.faq-answer.expanded {
  height: auto;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.faq-answer p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;

  
  color: #333;
}


.faq-link {
  font-size: 100px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.faq-link:hover {
  text-decoration: underline;
}

.home-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #020402;
  text-decoration: underline;
  margin-top: 50px;  /* Additional top margin */
  margin-left: 170px; /* Additional left margin */

}




