/* * {
  outline: 1px solid red;
} */

body {
  height: 100%;
  width: 100%;
  background-color: #592831;
  scroll-behavior: smooth;
}
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
button {
  background-color: transparent;
  border: none;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 90%;
  animation: slideDown 2s ease forwards;
  /* border: 1px solid black; */
}
@keyframes slideDown {
  from {
    transform: translate(-50%, -80%);
  }
  to {
    transform: translate(-50%, -70%);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.title h1 span {
  opacity: 0;
  font-weight: 100;
  font-size: 1000%;
  letter-spacing: 15px;
  color: #DBC1AC;
  animation: fadeIn 2s ease forwards;
}
.subtitle {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #392137;
  border-radius: 50px;
  height: 35px;
  width: 1000px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards, slideUp .85s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
.subtitle-char {
  font-weight: 100;
  font-size: 75%;
  color: #DBC1AC;
  letter-spacing: 20px;
  animation: fadeIn 2s infinite;
  display: inline-block;
  vertical-align: middle; 
  text-align: center; 
  padding-bottom: 5px;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(11, auto);
  height: 62.5svh;
  z-index: 1;
  animation: fadeIn 2s ease-out forwards;
  margin-top: -75px;
  /* border: 1px solid black; Added black border */
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.09%;
  padding: 1rem;
}
.grid-item img {
  width: 51px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
#line1 {
  height: 583px;
  animation: bounce 1s infinite;
}
#line2 {
  height: 619px;
  animation: bounce 3s infinite;
}
#line3 {
  height: 580px;
  animation: bounce 2s infinite;
}
#line4 {
  height: 621px;
  animation: bounce 1s infinite;
}
#line5 {
  height: 577px;
  animation: bounce 4s infinite;
}
#line6 {
  height: 618px;
  animation: bounce 2s infinite;
}
#line7 {
  height: 622px;
  animation: bounce 3s infinite;
}
#line8 {
  height: 579px;
  animation: bounce 1s infinite;
}
#line9 {
  height: 620px;
  animation: bounce 4s infinite;
}
#line10 {
  height: 581px;
  animation: bounce 2s infinite;
}
#line11 {
  height: 617px;
  animation: bounce 3s infinite;
}
.navbar {
  position: fixed;
  left: 50%; /* Center horizontally */
  bottom: 5%; /* Align to the bottom */
  transform: translateX(-50%); /* Adjust for the element's width */
  /* border-top: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.nav {
  width: 500px;
  height: 35px;
  background-color: #392137;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  animation: fadeIn 2s ease-out forwards, slideUp 0.75s ease-out forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.nav:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}
.nav img {
  width: 24px;
  height: auto;
  margin-left: 32.5px;
  margin-right: 32.5px;
  transition: 0.3s ease;
}
.nav img:hover {
  transform: scale(1.2);
}
.about {
  background-color: #DBC1AC;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85svh;
  width: 85svw;
  /* border: 1px solid black; */
}
.slide-in-clock {
  animation: slideInClockAnimation .75s ease-in forwards;
}

@keyframes slideInClockAnimation {
  from {
    opacity: 0;
    transform: translateX(4%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-main {
  animation: slideInMainAnimation .75s ease-in forwards;
}

@keyframes slideInMainAnimation {
  from {
    opacity: 0;
    transform: translateX(-4%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.main h1 {
  color: #392137;
  font-size: 750%;
  font-weight: 200;
  margin-bottom: 10px;
}
.main h2 {
  font-size: 250%;
  font-weight: 200;
  color: #392137;
}
#gradient {
  font-size: 1000%;
  font-weight: 200;
  background: linear-gradient(to right, #392137 10%, #592831 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.clock {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.outer {
  width: 100%; /* Adjust the width as necessary */
  max-width: 400px; /* Your fixed width or maximum width */
  height: 400px; /* Adjust height as necessary */
  background-color: transparent; 
  border-radius: 50%;
  border: 7.5px solid #392137;
  position: relative; /* Change to relative if it should be within a container */
  margin: 0 auto; /* Center it horizontally if needed */
  /* transform: rotate(-15deg); If this causes overflow, consider adjusting or removing */
}
.inner {
  width: 25px;
  height: 25px;
  background-color: #592831;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hand {
  width: 3px;
  height: 175px; 
  background-color: #392137;
  position: absolute;
  top: 28%; /* Adjusted from 30% to 25% to move up by 5% */
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%, -50%) rotate(0deg); 
  z-index: -1;
  animation: rotateHand 12s linear infinite; 
}

@keyframes rotateHand {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
.number-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 46%;
  left: 46%;
}
.number {
  position: absolute;
  font-size: 150%;
  color: #592831;
  width: 40px; 
  height: 40px; 
  line-height: 40px;
  text-align: center;
}
#hourimg {
  width: 32px;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.design-section {
  position: relative;
  width: 100%;
  height: 740px; /* Adjust this height as needed */
  display: flex;
  justify-content: flex-start; /* Changed from center to flex-start */
  align-items: center;
}

.design-text {
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 500;
  text-align: left; /* Changed from center to left */
  margin: 0;
  padding: 0;
  margin-left: 4%; /* Adjust this value to move text more or less to the left */
  margin-top: -20%;
}



.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  gap: 60px;
}

.design-button {
  background-color: #60385C;
  color: #D5BAA5;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.bottom-box {
  width: 100%;
  height: 1512px;
  background-color: #DBC1AC;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 50px;
}

.personal-text {
  font-family: 'Inter', sans-serif;
  font-size: 100px;
  color: #34171B;
  margin-bottom: 40px;
  line-height: 1.2;
}

.inner-box {
  width: 90%;
  max-width: 1599px;
  height: 848px;
  background-color: #34171B;
  align-self: center;
  margin-right: auto;
  margin-left: 0%; /* Adjust this value to move it more or less to the left */
  width: 90%; /* Adjust width as needed */
}