body {
  height: 100%;
  width: 100%;
  background-color: #592831;
  scroll-behavior: smooth;
}
.home {
  height: 100svh;
  width: 100svw;
}
button {
  background-color: transparent;
  border: none;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50svw, -70svh);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 90%;
  animation: slideDown 2s ease forwards;
}
@keyframes slideDown {
  from {
    transform: translate(-50%, -80%);
  }
  to {
    transform: translate(-50%, -70%);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.title h1 span {
  opacity: 0;
  font-weight: 100;
  font-size: 1000%;
  letter-spacing: 15px;
  color: #DBC1AC;
  animation: fadeIn 2s ease forwards;
}
.subtitle {
  position: absolute;
  top: 55svh;
  left: 17.5svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #392137;
  border-radius: 50px;
  height: 35px;
  width: 1000px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards, slideUp .85s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
.subtitle-char {
  font-weight: 100;
  font-size: 75%;
  color: #DBC1AC;
  letter-spacing: 20px;
  animation: fadeIn 2s infinite;
  display: inline-block;
  vertical-align: middle; 
  text-align: center; 
  padding-bottom: 5px;
}
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(11, auto);
  height: 62.5svh;
  padding: 125px;
  z-index: 1;
  animation: fadeIn 2s ease-out forwards;
  /* border: 1px solid black; Added black border */
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.09%;
  padding: 1rem;
}
.grid-item img {
  width: 51px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
#line1 {
  height: 583px;
  animation: bounce 1s infinite;
}
#line2 {
  height: 619px;
  animation: bounce 3s infinite;
}
#line3 {
  height: 580px;
  animation: bounce 2s infinite;
}
#line4 {
  height: 621px;
  animation: bounce 1s infinite;
}
#line5 {
  height: 577px;
  animation: bounce 4s infinite;
}
#line6 {
  height: 618px;
  animation: bounce 2s infinite;
}
#line7 {
  height: 622px;
  animation: bounce 3s infinite;
}
#line8 {
  height: 579px;
  animation: bounce 1s infinite;
}
#line9 {
  height: 620px;
  animation: bounce 4s infinite;
}
#line10 {
  height: 581px;
  animation: bounce 2s infinite;
}
#line11 {
  height: 617px;
  animation: bounce 3s infinite;
}
.navbar {
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;
  /* border-top: 1px solid black; */
  display: flex;
  justify-content: center;
}
.nav {
  width: 500px;
  height: 35px;
  background-color: #392137;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  animation: fadeIn 2s ease-out forwards, slideUp 0.75s ease-out forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.nav:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}
.nav img {
  width: 24px;
  height: auto;
  margin-left: 32.5px;
  margin-right: 32.5px;
  transition: 0.3s ease;
}
.nav img:hover {
  transform: scale(1.2);
}
.about {
  background-color: #DBC1AC;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85svh;
  width: 85svw;
  /* border: 1px solid black; */
}
.slide-in-clock {
  animation: slideInClockAnimation 0.8s ease-in forwards;
}

@keyframes slideInClockAnimation {
  from {
    opacity: 0;
    transform: translateX(3%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-main {
  animation: slideInMainAnimation 0.8s ease-in forwards;
}

@keyframes slideInMainAnimation {
  from {
    opacity: 0;
    transform: translateX(-3%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.main h1 {
  color: #392137;
  font-size: 750%;
  font-weight: 200;
  margin-bottom: 10px;
}
.main h2 {
  font-size: 250%;
  font-weight: 200;
  color: #392137;
}
#gradient {
  font-size: 1000%;
  font-weight: 200;
  background: linear-gradient(to right, #392137 10%, #592831 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.clock {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  margin-left: 50px;
  width: 500px; 
  height: 500px; 
  background-color: transparent; 
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  transform: rotate(-15deg);
}
.inner {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hand {
  width: 5px;
  height: 200px; 
  background-color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%, -50%) rotate(0deg); 
  z-index: 5;
  animation: rotateHand 12s linear infinite; 
}

@keyframes rotateHand {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
.number-container {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 46%;
  left: 46%;
}
.number {
  position: absolute;
  font-size: 150%;
  color: #592831;
  width: 40px; 
  height: 40px; 
  line-height: 40px;
  text-align: center;
}
